/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

label{
  font-weight: bold;
}

.border{
  border:1px solid #ccc;
  min-height: 100px;
}

.mce-edit-focus.border{
  border:none;
}

.section{
  border:20px solid white;
  transition: all .2s ease-in-out;
  transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
  transition-duration:400ms;
}

.section:hover{
  border:20px solid #eee;
}

.subSection{
  margin-bottom: 10px;
}

.fa-drag-handle:before {
  content: "\f142 \f142";
  letter-spacing: 2px;
}